@model TrackingCar.Models.Country

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalle";
}

<div class="content-wrapper">
    <h2>Detalles</h2>

    <div>
        <h4>Pais</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CountryID }) |
        @Html.ActionLink("Volver", "Index")
    </p>
</div>